body {
	background-color: #fff;
}

.question {
	border: 1px solid #ddd;
}

.question span {
	display: inline-block;
}

.question input {
	width: 80px;
	display: inline-block;
}

.btn {
	display: block;
	width: 90%;
	margin: auto;
	padding: 10px;
}
